body {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.App {
  color: white;
  height: 100%;
  width: 100%;
  background-color: #000;
}

.external-link {
  text-decoration: none;
  color: lightblue;
}

.box {
  border-radius: 10px;
  text-align: center;
  margin: 50px;
  margin-top: 10px;
  padding: 10px;
  padding-bottom: 20px;
}

a {
  color: #fff;
}

.footer {
  padding-top: 40px;
  font-size: 11px;
}

.marker-red {
  filter: hue-rotate(120deg);
}

.marker-green {
  filter: hue-rotate(270deg);
}

.marker-unknown {
  filter: brightness(0)
}

.tab {
  text-decoration: none;
  border-radius: 5px 5px 0 0;
  padding: 10px;
}

.tab:hover {
  background-color: gray;
}

.tab.active {
  background-color: #FFF;
  color: #000;
}